.App {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.front-card{
  padding: 10px;
  
}
.back-card{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
